.container {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}

.inicio {
    text-align: center;
}

.elementoinicio {
  margin-top: 10%;
}

.letras {
  width: 600px;
}

.link {
  color: #F9F871;
} 